@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	border: none;
	outline: none;
}

:root {
	--primary-color: rgb(172, 211, 248);
	--secondary-color: rgb(120, 150, 230);
	--text-color: #333;
	--link-color: #386fa4;
	--example-1: #133c55;
	--example-2: #91e5f6;
	--example-3: #84d2f6;
	--link-active: rgb(6, 72, 194);
}

html {
	scroll-behavior: smooth;
	font-size: 75%;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

section {
	width: 100%;
	height: 100vh;
	padding: 50px;
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;

	/* overflow: hidden; */
}

header {
	width: 100%;
	height: 60px;
	background: var(--primary-color);
	padding-inline: 20px;
	border-bottom: 2px solid rgba(134, 171, 182, 0.5);
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 4px 8px rgba(27, 28, 29, 0.3);
}

.logo img {
	width: 40px;
}

nav {
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(-100%);
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(43, 51, 58, 0.8);
	backdrop-filter: blur(10px);
	transition: 0.3s ease-in-out;
}

.open {
	transform: translateX(0);
}

nav a {
	display: block;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--text-color);
	padding: 5px;
	margin-block: 8px;
	border: 2px solid transparent;
	border-radius: 5px;
	background: var(--secondary-color);
	transition: 0.5s ease;
}

nav a:hover {
	color: #fff;
	background: rgba(43, 51, 58, 0.8);
	border-color: rgb(100, 130, 200);
}

nav a i {
	padding-left: 5px;
	font-size: 1.2rem;
}

.hamburger {
	display: block;
	position: absolute;
	top: 12px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	font-size: 2.5rem;
	color: var(--text-color);
	transition: all 0.2s ease;
}

.hamburger:hover {
	color: var(--link-active);
}

/* ========== Home Styling ========== */
.home {
	width: 100%;
	height: 100vh;
	padding-inline: 50px;
	background-image: url("../Assets/Images/bg-2.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.home .hero {
	flex: 0 0 100%;
	width: 100%;
	padding: 10px;
}

.hero .title {
	font-size: 3rem;
	line-height: 1.15;
	margin-bottom: 20px;
	color: #000000;
}

.hero p {
	font-size: 1.3rem;
	width: 80%;
	color: var(--text-color);
	margin-bottom: 30px;
}

.home .hero-img {
	display: none;
}

.btn {
	padding: 8px 15px;
	font-size: 1.25rem;
	font-weight: 500;
	background: var(--secondary-color);
	border-radius: 5px;
	border: 2px solid transparent;
	cursor: pointer;
	transition: 0.3s ease;
}

.btn:hover {
	background: rgba(120, 150, 230, 0.4);
	color: var(--link-active);
	border-color: var(--primary-color);
}

.home .link {
	text-decoration: none;
	padding: 10px;
	font-size: 1.5rem;
	margin-left: 5px;
	font-weight: 400;
}

.home .link:hover {
	color: var(--example-1);
}

/* .collaborators {
	width: 100%;
	background: rgba(134, 171, 182, 0.6);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.collaborators img {
	width: 100px;
} */

/* ========== About Section Styling ========== */

.about {
	max-width: 100vw;
	height: auto;
	background: rgba(225, 238, 248, 0.3);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.about .title {
	flex: 0 0 30%;
	max-width: 100%;
	width: 100%;
}

.about .title h1 {
	font-size: 2.5rem;
	line-height: 1.3;
	margin-bottom: 20px;
}

.about .title p {
	font-size: 1.125rem;
	color: var(--text-color);
}

.card-container {
	flex: 0 0 70%;
	width: 100%;
	margin-top: 20px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-radius: 12px;
	box-shadow: 0px 5px 8px rgba(10, 10, 10, 0.3);
}

.card-container .card {
	flex: 80%;
	width: 100%;
	margin-block: 20px;
	background-color: rgb(251, 251, 255);
	/* border: 2px solid rgb(226, 231, 231); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px;
	border-radius: 8px;
	box-shadow: 0px 5px 8px rgba(10, 10, 10, 0.1);
}

.card-container .card .icon-img {
	margin-block: 8px;
}

.card-container .card .icon-img img {
	width: 100px;
}

.card-container .card .card-content {
	max-width: 100%;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
}

.card-content .heading {
	margin-bottom: 5px;
	font-size: 2rem;
}

.card .card-content .desc {
	font-size: 1.125rem;
	margin-bottom: 10px;
	color: var(--text-color);
}

.card .card-content .btn {
	max-width: 50%;
	display: block;
	margin: 15px auto 0;
	padding-block: 5px;
	background: none;
	border: 2px solid rgb(226, 231, 231);
	transition: 0.3s ease-in-out;
}

.card .card-content .btn:hover {
	background: rgb(226, 231, 231);
	color: #000000;
}

.card .card-content .btn .arrow {
	font-size: 1.5rem;
	font-weight: bolder;
	display: inline-block;
	transition: 0.3s ease-in-out;
}

.card .card-content .btn:hover .arrow {
	transform: translateX(5px);
}

@media (min-width: 650px) {
	header {
		position: fixed;
		top: 0;
	}
	.nav-btn {
		/* border: 1px solid #333; */
		padding: 2px 5px;
		color: #fff;
		border-radius: 8px;
		font-size: 1rem;
		background: var(--secondary-color);
		border: 2px solid transparent;
	}

	.nav-btn:hover {
		text-decoration: none;
		color: var(--link-active);
		border-color: var(--secondary-color);
	}

	.hamburger {
		display: none;
	}

	nav {
		position: relative;
		transform: translateX(0);
		flex: 0 0 80%;
		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		background: none;
		backdrop-filter: none;
	}

	nav a {
		width: auto;
		font-size: 1rem;
		text-decoration: none;
		color: var(--text-color);
		padding: unset;
		margin-block: unset;
		border: none;
		border-radius: unset;
		background: none;
		transition: 0.3s ease;
	}

	nav a:hover {
		color: var(--link-active);
		background: none;
		border-color: unset;
	}

	.card-container .card {
		flex: 60%;
	}
}

/* @media (min-width: 700px) {
	.card-container .card {
		flex: 40%;
	}
} */

/* @media (min-width: 800px) {
	
	.home .hero {
		flex: 0 0 70%;
	}
} */

@media (min-width: 900px) {
	nav {
		flex: 0 0 70%;
	}

	nav a {
		font-size: 1.5rem;
		padding-inline: 2px;
	}

	.home {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	.home .hero {
		flex: 0 0 50%;
	}

	.hero .title {
		font-size: 3rem;
		line-height: 1.25;
		margin-bottom: 20px;
		color: #000000;
	}

	.hero p {
		font-size: 1.125rem;
		width: 80%;
		color: var(--text-color);
		margin-bottom: 30px;
	}

	.home .hero-img {
		flex: 0 0 50%;
		max-width: 100%;
		display: flex;
	}

	.home .hero-img img {
		width: 100%;
	}

	.btn {
		padding: 8px 15px;
		font-size: 1.25rem;
		font-weight: 500;
		background: var(--primary-color);
		border-radius: 5px;
		border: 2px solid transparent;
		cursor: pointer;
		transition: 0.3s ease;
	}

	.btn:hover {
		background: rgba(120, 150, 230, 0.4);
		color: var(--link-active);
		border-color: var(--primary-color);
	}

	.card-container .card {
		flex: 45%;
		margin: 5px 20px;
	}
}

@media (min-width: 1200px) {
	nav {
		flex: 0 0 50%;
	}

	nav a {
		font-size: 1.4rem;
		padding-inline: 2px;
	}

	.about {
		height: 100vh;
		padding-top: 20px;
	}

	.card-container {
		flex: 100;
	}

	.about .title {
		flex: 0 0 20%;
		max-width: 100%;
		width: 100%;
	}

	.card-container {
		flex: 0 0 70%;
		margin-top: unset;
		padding: 10px;
		justify-content: space-between;
	}

	.card-container .card {
		flex: 25%;
		margin: 5px 20px;
	}
	.card-container .last {
		display: none;
	}
}
